.detail-banner {
  background-image: url("https://image.tmdb.org/t/p/original/6CoRTJTmijhBLJTUNoVSUNxZMEI.jpg");
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 80%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  z-index: -1;
}
.opac {
  background: linear-gradient(
    180deg,
    rgba(50, 58, 120, 0) 0%,
    rgba(50, 58, 120, 0.9) 100%
  );
  opacity: 0.9;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
}
.detail-banner-items {
  padding: 100px;
  z-index: 1;
  display: flex;
  gap: 20px;
  .movie-img-container {
    position: relative;
    width: 25%;
    min-width: 300px;
    float: left;
    height: 60vh;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .opac1 {
      opacity: 0.9;
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 30%;
      z-index: 1;
      // give light blakc gradient
      background: linear-gradient(
        180deg,
        rgba(50, 58, 120, 0) 0%,
        rgba(50, 58, 120, 0.9) 100%
      );
    }
  }
  .movie-detail-container {
    color: #fff;
    padding-top: 50px;
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .genre {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .trailer-btn {
      background-color: #fff;
      color: #000;
      padding: 10px 20px;
      display: inline;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
      cursor: pointer;
      svg {
        margin-bottom: -3px;
        font-size: 20px;
      }
    }
    h2 {
      margin: 20px 0 10px 0;
    }
    .des {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .name {
      display: flex;
      justify-content: space-between;
      .rel-name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        width: 50%;
      }
    }
  }
}
