
@import "../../mixins.scss";

.detail-banner {
  height: 80%;
  position: relative;
  .bg-img {
    width: 100%;
    object-fit: cover;
    object-position: center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    opacity: 0.8;
  }
}
.opac {
  background: linear-gradient(
    180deg,
    rgba(50, 58, 120, 0) 0%,
    rgba(50, 58, 120, 0.9) 100%
  );
  opacity: 0.9;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80%;
}
.detail-banner-items {
  padding: 20px;
  z-index: 1;
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  @include md{
    padding: 50px;
    flex-direction: row;
  }
  .movie-img-container {
    position: relative;
    width: 25%;
    min-width: 300px;
    z-index: 1;
    float: left;
    height: 60%;
    margin-right: 20px;
    img {
      width: 100%;
      height: 100%;
      border-radius: 20px;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    }
    .opac1 {
      opacity: 0.9;
      position: absolute;
      left: 0;
      border-radius: 20px;
      bottom: 0;
      width: 100%;
      height: 30%;
      z-index: 1;
      // give light blakc gradient
      background: linear-gradient(
        180deg,
        rgba(50, 58, 120, 0) 0%,
        rgba(50, 58, 120, 0.9) 100%
      );
    }
  }
  .movie-detail-container {
    color: #fff;
    padding-top: 50px;
    width: 100%;
    z-index: 1;
    .title {
      font-size: 40px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    .genre {
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .trailer-btn {
      background-color: #fff;
      color: #000;
      padding: 10px 20px;
      display: inline;
      border-radius: 5px;
      font-size: 20px;
      font-weight: 500;
      margin-bottom: 20px;
      cursor: pointer;
      svg {
        margin-bottom: -3px;
        font-size: 20px;
      }
    }
    h2 {
      margin: 20px 0 10px 0;
    }
    .des {
      font-size: 14px;
      line-height: 1.5;
      font-weight: 500;
      margin-bottom: 20px;
    }
    .name {
      display: flex;
      justify-content: space-between;
      .rel-name {
        font-size: 20px;
        font-weight: 500;
        margin-bottom: 20px;
        width: 50%;
      }
    }
  }
}

.genre-item {
  display: inline;
  font-size: 16px;
  margin-left: 10px;
}
.production-logo {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.logo1 {
  border-radius: 50%;
  width: 150px;
  height: 100px;
  margin-left: 30px;
  z-index: 999;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
  display: flex;
  background: linear-gradient(
    180deg,
    rgba(50, 58, 120, 0) 0%,
    rgba(50, 58, 120, 0.9) 100%
  );
  align-items: center;
  justify-content: center;
  .logo-img1 {
    width: 100%;
    height: 100px;
    display: block;
    border-radius: 50%;
    object-fit: contain;
    z-index: 999;
    object-position: center;
  }
}

.hide {
  height: 0;
  width: 0;
}
