@import "../../mixins.scss";

.detail-wrapper {
  .billed-cast {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .cast-card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .media {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 20px;
    width: 38%;
    .type {
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.underline {
  text-decoration: underline;
  font-size: 1.8rem;
  font-weight: 600;
}

.media-wrapper {
  padding: 20px 0;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-x: scroll;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
}
