@import "../../mixins.scss";

.detail-wrapper {
  color: white;
  .billed-cast {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 1.8rem;
    font-weight: 600;
  }
  .cast-card-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .media {
    display: flex;
    align-items: center;
    margin-top: 20px;
    font-size: 0.6rem;
    h2 {
      margin-right: 20px;
      font-size: 0.8rem;
    }
    width: 100%;
    div {
      margin-left: 20px;
    }
    .type {
      font-size: 1.8rem;
      font-weight: 600;
      cursor: pointer;
    }
  }
}

.underline {
  text-decoration: underline;
  font-size: 1.8rem;
  font-weight: 600;
}

.media-wrapper {
  padding: 20px 0;
  display: flex;
  overflow: hidden;
  scroll-behavior: smooth;
  overflow-x: scroll;
  ::-webkit-scrollbar {
    width: 10px;
  }
  ::-webkit-scrollbar-track {
    background: #f1f1f1;
  }
  ::-webkit-scrollbar-thumb {
    background: #888;
  }
}

.video-wrapper {
  display: flex;
  overflow: hidden;
  overflow-x: scroll;
  padding: 50px 0;
  scroll-behavior: smooth;
  position: relative;
}

.video-player {
  min-width: 400px;
  height: 300px;
  margin-right: 20px;
}
